# Local environment files
.env
.env.*
!.env.example
.vscode/**
!.vscode/
!.vscode/tasks.json
# Build outputs
**/bin/
**/obj/
launch.json
!.vscode/launch.json
file-manager-blazor/wwwroot/appsettings.json
